.house{
    display: table;
    max-width: 450;
    max-height: 350;
}
.rooms{
    width: 150;
    height: 100;

}
.doors{
    width: 30px;
    height: 30px;

}
.windows{
    width: 30px;
    height: 30px;

}
.lights{
    width: 30px;
    height: 30px;

}