.dashboard{
  position: fixed;
  width: 1200px;
}

.profile{
  float: left;
  width: 15%;
  height: 95%;
  padding: 15px;
  background-color: #f1f1f1;
}

.profilePic{
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width:80%
}

.switch {
  position: relative;
  display: inline-block;
  margin-left: 25%;
  margin-right: auto;

  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#editBtn{
  margin-top: 10px;
  margin-left: 35%;
}

.modules {
  float: left;
  width: 100%;
  padding: 15px;

}

/*.modules button:hover {*/
/*  background-color: #ddd;*/
/*}*/

/*.modules button.active {*/
/*  background-color: #ccc;*/
/*}*/

.tabcontent {
  display: none;
  border: 1px solid #ccc;
}

.houseLayout{
  float: left;
}

.consoleOutput{
  padding-top: 45px;
}

.consoleOutput textarea{
  width: 95%;
  resize:none;

}

#simulator{
  visibility: hidden;
  float: left;
  width: 70%;
  height: 100%;
  border-style: solid;
}

.params{
  margin-top: 10px;
  width: 100%;
  height: 300px;
  border-style: solid;
}

.houseLayout{
  margin-top: 60px;
  width: 100%;
  height: 200px;
  border-style: solid;
}

#editProfile{
  float: left;
  padding-left: 10px;
}

#editTime{
  float: left;
  padding-left: 30px;
}

#editDate{
  float: left;
  padding-left: 10px;

}